# Rails app
# Ignore bundler config.
backbone/.bundle

# Ignore all logfiles and tempfiles.
backbone/log/*
backbone/tmp/*
backbone!/log/.keep
backbone!/tmp/.keep

# Ignore pidfiles, but keep the directory.
backbone/tmp/pids/*
backbone!/tmp/pids/
backbone!/tmp/pids/.keep

# Ignore uploaded files in development.
backbone/storage/*
backbone!/storage/.keep
backbone/.byebug_history

# Ignore master key for decrypting credentials and more.
backbone/config/master.key

# Ember app
# compiled output
ember-flesh/dist/
ember-flesh/tmp/

# dependencies
ember-flesh/bower_components/
ember-flesh/node_modules/

# misc
ember-flesh/.env*
ember-flesh/.pnp*
ember-flesh/.sass-cache
ember-flesh/.eslintcache
ember-flesh/connect.lock
ember-flesh/coverage/
ember-flesh/libpeerconnection.log
ember-flesh/npm-debug.log*
ember-flesh/testem.log
ember-flesh/yarn-error.log

# ember-try
ember-flesh/.node_modules.ember-try/
ember-flesh/bower.json.ember-try
ember-flesh/package.json.ember-try

# Next app
# dependencies
next-flesh/node_modules
next-flesh/.pnp
next-flesh/.pnp.js

# testing
next-flesh/coverage

# next.js
next-flesh/.next/
next-flesh/out/

# production
next-flesh/build

# misc
next-flesh/.DS_Store
next-flesh/*.pem

# debug
next-flesh/npm-debug.log*
next-flesh/yarn-debug.log*
next-flesh/yarn-error.log*

# local env files
next-flesh/.env.local
next-flesh/.env.development.local
next-flesh/.env.test.local
next-flesh/.env.production.local

# vercel
next-flesh/.vercel
