<div class="col-span-5 pl-6 pr-4 hidden lg:block">
  <div class="py-4 flex items-center justify-end sticky top-0 space-x-5">
    <button type="button" {{on "click" this.toggleModalVisibility}} class="no-focus block px-3 py-2 text-sm font-medium leading-5 text-white whitespace-nowrap bg-rose-500 border border-transparent rounded-lg hover:bg-rose-400">
      Share snapshot
    </button>
    <button type="button" class="no-focus">
      <img class="h-9 w-9 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="abeid ahmed">
    </button>
  </div>
</div>
{{#if this.isShowingModal}}
  <ModalDialog @translucentOverlay={{true}} @onClose={{this.toggleModalVisibility}}>
    <Snapshot::NewForm />
  </ModalDialog>
{{/if}}
