<form {{on "submit" this.loginUser}}>
  <div>
    <label for="email" class="form-label">Email address</label>
    <input type="email" {{on "change" this.updateEmail}} id="email" required class="form-control">
  </div>
  <div class="mt-4">
    <div class="flex items-center justify-between">
      <label for="password" class="form-label">Password</label>
      <a href="#" class="text-sm text-rose-600 transition duration-150 ease-in-out hover:text-rose-500">
        Forgot password?
      </a>
    </div>
    <input type="password" {{on "change" this.updatePassword}} id="password" required class="form-control">
  </div>
  <p class="text-sm mt-1 text-red-600 font-medium">{{show-form-error "invalid" errors=this.errors}}</p>
  <div class="mt-4">
    <button type="submit" class="btn btn-primary w-full">
      Sign in
    </button>
  </div>
</form>
