<article class="bg-white border-b border-t first:border-t-0">
  <div class="relative pb-image">
    <img class="h-full w-full absolute object-cover bg-center bg-no-repeat" src="https://images.unsplash.com/photo-1502945015378-0e284ca1a5be?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80" alt="man holding">
  </div>
  <div class="p-4 flex space-x-3">
    <div class="flex-shrink-0">
      <img class="h-9 w-9 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="abeid ahmed">
    </div>
    <div class="flex-1">
      <div class="flex justify-between">
        <div class="text-sm flex items-center space-x-2">
          <h3 class="font-medium text-gray-700">Abeid Ahmed</h3>
          <span>&middot;</span>
          <span class="text-gray-500">1h</span>
        </div>
        <button type="button" class="no-focus text-gray-700">{{svg-jar "more"}}</button>
      </div>
      <div class="mt-2">
        <h2 class="font-semibold text-xl">Dom Event listeners</h2>
        <div class="mt-1 text-xs text-gray-400 flex items-center flex-wrap">
          <span class="inline-flex mr-2">#
            <a href="#" class="text-gray-500 hover:text-gray-700">UI/UX</a>
          </span>
          <span class="inline-flex mr-2">#
            <a href="#" class="text-gray-500 hover:text-gray-700">Design</a>
          </span>
        </div>
      </div>
      <footer class="mt-2 -ml-2 flex items-center space-x-8">
        <button type="button" class="no-focus group flex items-center space-x-1 text-sm text-gray-500 hover:text-yellow-500">
          <span class="group-hover:bg-yellow-100 rounded-full p-2 block transition duration-150 ease-in-out">
            {{svg-jar "chat" class="h-5 w-5"}}
          </span>
          <span class="transition duration-150 ease-in-out">43</span>
        </button>
        <button type="button" class="no-focus group flex items-center space-x-1 text-sm text-gray-500 hover:text-pink-500">
          <span class="group-hover:bg-pink-100 rounded-full p-2 block transition duration-150 ease-in-out">
            {{svg-jar "heart" class="h-5 w-5"}}
          </span>
          <span class="transition duration-150 ease-in-out">21k</span>
        </button>
        <button type="button" class="no-focus group flex items-center space-x-1 text-sm text-gray-500 hover:text-blue-500">
          <span class="group-hover:bg-blue-100 rounded-full p-2 block transition duration-150 ease-in-out">
            {{svg-jar "bookmark" class="h-5 w-5"}}
          </span>
          <span class="transition duration-150 ease-in-out">12</span>
        </button>
      </footer>
    </div>
  </div>
</article>
