<div class="max-w-7xl mx-auto flex">
  <Sidebar />
  <main class="md:grid grid-cols-12 flex-1 min-h-screen">
    <div class="col-span-7 border-r">
      <Header />
      <section class="space-y-3 bg-gray-100">
        <Snapshot />
        <Snapshot />
      </section>
    </div>
    <AccessorySidebar />
  </main>
</div>
