{{page-title "Login"}}
<main class="flex items-center justify-center min-h-screen py-12 bg-gray-100 sm:px-6 lg:px-8">
  <div class="w-full">
    <div class="px-4">
      <img class="w-auto h-6 mx-auto" src="assets/images/logo.svg" alt="Workflow">
      <h2 class="mt-6 text-3xl font-extrabold leading-9 text-center text-gray-900">
        Sign in to your account
      </h2>
    </div>
    <div class="w-full sm:max-w-md mx-auto">
      <div class="px-10 py-8 mt-8 bg-white shadow sm:rounded-md">
        <LoginForm />
        <div class="mt-4">
          <p class="text-sm text-gray-600">By signing in you agree to our <a href="#" class="font-medium underline transition duration-150 ease-in-out hover:text-gray-500">terms and conditions</a>.</p>
        </div>
        <hr class="my-5">
        <div>
          <h3 class="text-gray-700 text-sm">New to our platform?</h3>
          <div class="mt-4">
            <LinkTo @route="signup" class="no-focus block w-full text-center px-3 py-2 text-sm leading-5 font-medium text-gray-700 shadow-sm whitespace-nowrap bg-white border border-gray-300 rounded-lg hover:text-gray-500">
            Create an account
            </LinkTo>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
