{{page-title "Signup"}}
<main class="flex items-center justify-center min-h-screen py-12 bg-gray-100 sm:px-6 lg:px-8">
  <div class="w-full">
    <div class="px-4">
      {{svg-jar "logo" class="h-6 w-auto mx-auto text-gray-700"}}
      <h2 class="mt-6 text-3xl font-extrabold leading-9 text-center text-gray-900">
        Create an account
      </h2>
    </div>
    <div class="w-full sm:max-w-md mx-auto">
      <div class="px-10 py-8 mt-8 bg-white shadow sm:rounded-md">
        <SignupForm />
        <div class="mt-4">
          <p class="text-sm text-gray-600">By signing up you agree to our <a href="#" class="font-medium underline transition duration-150 ease-in-out hover:text-gray-500">terms and conditions</a>.</p>
        </div>
        <hr class="my-5">
        <div>
          <h3 class="text-gray-700 text-sm">Already have an account?</h3>
          <div class="mt-4">
            <LinkTo @route="login" class="btn btn-default w-full">
            Sign in
            </LinkTo>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
